*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 2000px;
    background-color: rgb(25, 0, 255);
}

header {
    background-color: #2c2c2c;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    gap: 20px;
    padding: 40px 17.75px ;
    

    div.logos {
        
    }
    div.texts {

    }
}