* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 500px;
    width: 600px;
    background-color: darkgreen;
    position: relative;

    .absolute {
        width: 200px;
        height: 200px;
        background-color: white;
        position: absolute;
        z-index: 2;
        top: 300px;
        left: 500px;
    }

    .second_absolute {
        width: 400px;
        height: 400px;
        background-color: blueviolet;
        /* position: absolute; */
        
    }

    .basic {
        width: 300px;
        height: 300px;
        background-color: brown;
        /* position: absolute; */
        z-index: 1;
        top: 30px;
    }
}