* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 3000px;
    background-color: darkseagreen;
    display: flex;

    .fix {
        width: 50%;
        background-color: azure;
        height: 50px;
        position: fixed;
        /* top: 50px;
        left: 20px; */
    }

    .sticky {
        width: 400px;
        height: 60px;
        background-color: rgb(130, 128, 110);
        position: sticky;
        bottom: 50px;
        left: 20px;
    }
    section {
        height: 400px;
        background-color: beige;
        /* margin-top: 50px; */
    }
}
.parent {
    background-color: blue;
    height: 400px;
}