* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grey_background {
    width: 1280px;
    height: 577px;
    background-color: #293039;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    h2 {
        color: white;
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 32px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        width: 540px;
        text-align: center;
        color: #fefcf7;
    }
    div.parent{
        display: flex;
        gap: 30px;
        position: absolute;
        top: 346px;
        
        .green_box {
            width: 350px;
            height: 382px;
            background-color: #0e8784;
            border-radius: 8px;
        }
    }
}