/* :root {
   --background-color: rgb(245,245,245);
   --header-color: red;
   --main-color: blue;
   --footer-color: yellow;
   --text-color: white;
   --font-size: 18px;
} */

 :root {
  --primary-color: rgb(245, 245, 245);
  --basic-color: rgb(30, 30, 30);
  --secondary-color: rgb(162, 96, 40);
  --primary-font: 15px;
  --poppins: "Poppins"
}